#include <windows.h>
#include <ntverp.h>
#include "version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 		MY_VERSION_COMMA_STRING
 PRODUCTVERSION 	MY_VERSION_COMMA_STRING
 FILEFLAGSMASK 		VS_FFI_FILEFLAGSMASK
 FILEOS 			VOS__WINDOWS32
 
 // VFT_APP , VFT_DLL , VFT_DRV 
 FILETYPE 			VFT_APP
 
 FILESUBTYPE 		VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
			VALUE "Comments", MY_VERSION_COMMENTS
			VALUE "CompanyName", MY_VERSION_COMPANY_NAME
			VALUE "FileDescription", MY_VERSION_FILE_DESCRIPTION
			VALUE "FileVersion", MY_VERSION_FILE_VERSION
			VALUE "InternalName", MY_VERSION_INTERNAL_NAME
			VALUE "LegalCopyright", MY_VERSION_LEGAL_COPYRIGHT
			VALUE "LegalTrademarks", MY_VERSION_LEGAL_TRADEMARKS
			VALUE "OriginalFilename", MY_VERSION_ORIGINAL_FILENAME
			VALUE "PrivateBuild", MY_VERSION_PRIVATE_BUILD
			VALUE "ProductName", MY_VERSION_PRODUCT_NAME
			VALUE "ProductVersion", MY_VERSION_PRODUCT_VERSION
			VALUE "SpecialBuild", MY_VERSION_SPECIAL_BUILD
        END
    END
	
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END

